.saevices-sec-1 {
    padding: 100px 0px;
    background-color: #fff;
}

.heading .span-1 {
    color: #666;
    padding-bottom: 40px;
    display: block;
}

.automatedenergy h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    margin-top: 34px;
    padding-bottom: 24px;
}

.automatedenergy p {
    font-size: 16px;
    line-height: 30px;
    color: #555;
    margin: 0;
    font-weight: 400;
}

.service-sec-2 {
    padding: 100px 0px;
    background-color: #fff;
}

.service-sec-3 {
    padding: 100px 0px;
    background-color: #fff;
}


.service-sec-4 {
    padding: 100px 0px;
    background-color: #fff;
}


.video-play-tag-1::after {
    content: "";
    inset: 0;
    background-color: transparent !important;
    position: absolute;
}

.service-sec-6 {
    padding: 40px 0px;
    background-color: #fff;
}

.heading h2 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 56px;
    line-height: 66px;
    padding-bottom: 25px;
}

.renewable-group p {
    font-size: 16px;
    line-height: 30px;
    color: #555;
    margin: 0;
    font-weight: 400;

}

.service-sec-7 {
    background-color: #fff;
    padding: 0px 0px 100px 0px;
}



.solar-pv i {
    position: relative;
    width: 120px;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #0A9642;
}

.solar-pv h4 {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 16px;
    padding-top: 30px;
    position: relative;
}


.team-info li {
    display: flex;
    font-size: 18px;
    padding-bottom: 14px;
    color: #666;
    font-weight: 500;
}

.team-info li img {
    margin-right: 10px;
}

.solar-pv {
    border-radius: 30px;
    padding: 40px;
    background-color: #FAFAFA;
    position: relative;
    transition: all 0.3s;
    z-index: 1;
}



.solar-pv::after {
    content: "";
    position: absolute;
    border-radius: 30px;
    width: 100%;
    height: 0%;
    background-color: #17195A;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
    z-index: -1;
}

.solar-pv:hover::after {
    height: 100%;
}

.solar-pv:hover {
    color: #fff;
}